<section class="content post-single pt-70 pt-mdm-60 pb-0">
<div class="container relative">
    <div class="row">
    
        <!-- post content -->
        <div class="col-md-8 col-md-offset-2 post-content mb-50">
 
            <!-- large post -->
            <article class="entry-item large-post">
            <div class="entry-wrap">
            <div class="entry">
            <div class="entry-content">
                <div class="article">
                {{ content }}
                </div>

                {%include post-author.html %}

            </div>
            </div>
            </div>
            </article> <!-- end large post -->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div> <!-- end container -->
</section>