<header class="nav-type-1 dark-nav">

  <!-- Fullscreen search -->
  <!--
  <div class="search-wrap">
    <div class="search-inner">
      <div class="search-cell">
        <form method="get">
          <div class="search-field-holder">
            <input type="search" class="form-control main-search-input" placeholder="Search for">
            <div class="search-submit-icon"><i class="icon icon_search"></i></div>
            <input type="submit" class="search-submit" value="search">
          </div>            
        </form>
      </div>
    </div>
    <i class="icon icon_close search-close" id="search-close"></i>
  </div>
  -->
  <!-- end fullscreen search -->

  <nav class="navbar">
    <div class="navigation">
      <div class="container relative">

        <div class="row">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/" style="margin-top:4px;">{{ site.author.name }}</a>
          </div>
          <!-- end navbar-header -->


          <div class="col-md-12 nav-wrap">
            <div class="collapse navbar-collapse text-center" id="navbar-collapse">
              
              <ul class="nav navbar-nav">

                <li><a href="/">Home</a></li>
                <li><a href="/adventures">Adventures</a></li>
                <li><a href="/thoughts">Thoughts</a></li>
                <li><a href="/speaking">Speaking</a></li>
    
              </ul> <!-- end menu -->
            </div> <!-- end collapse -->
          </div> <!-- end col -->      
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end navigation -->
  </nav> <!-- end navbar -->
</header>
